
body {
    background-image: url("images/table.png");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

#appContainer{
    margin: auto;
}

h1 {
    color: goldenrod;
}

#fucked,#moreFucked {
    font-style: italic;
}
span{
    font-style: normal;
}


#dealersCards{
    
    width: auto;
    padding: 0;
    margin: 0px 0px 0px 0px;
}
#playersCards{
   
    width: auto;
    padding: 0;
    margin: 0px 0px 0px 0px;
}

/* p{
    float: top left;
}
#result-el{
    float: left;
}

#cardOutput1{
    float: left;
    margin: 30px 30px;
}
#cardOutput2{
    float: left;
    margin: 30px 30px;
} */


img{
    height: 90px;
    width: 70px;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#newStartControls{
    float: left;
}
#gameControls{
    float: right;
}